@import "tailwindcss";

:root {
  --bg: #020719;
  --panel: #07132f;
  --panel-2: #091735;
  --line: rgba(115, 145, 210, 0.18);
  --muted: #aeb8d0;
  --purple: #a329ff;
  --blue: #167dff;
  --cyan: #08d2ec;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background:
    radial-gradient(
      circle at 75% 0%,
      rgba(65, 44, 145, 0.28),
      transparent 34rem
    ),
    radial-gradient(
      circle at 10% 30%,
      rgba(0, 106, 255, 0.08),
      transparent 28rem
    ),
    var(--bg);
  color: #f7f9ff;
  /* font-family: var(--font-inter); */
  font-family: var(--font-poppins);

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
}

::selection {
  background: #8b25ff;
  color: white;
}

a {
  text-decoration: none;
}

.section-shell {
  width: min(1440px, calc(100% - 48px));
  margin-inline: auto;
}

.glow-border {
  border: 1px solid var(--line);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.025);
}

.gradient-text {
  background: linear-gradient(90deg, #b127ff 0%, #157eff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-button {
  background: linear-gradient(100deg, #a30cff, #167dff);
}

/* HEADER STYLED */
header nav.gj-header a {
  position: relative;
  transition: color 0.3s ease;
}

/* Underline */
header nav.gj-header a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #b127ff 0%, #157eff 100%);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.35s ease;
}

/* Hover text gradient */
header nav.gj-header a:hover {
  background: linear-gradient(90deg, #b127ff 0%, #157eff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Left → Right underline */
header nav.gj-header a:hover::after {
  transform: scaleX(1);
  height: 2.5px;
}

header nav.gj-header a.gradient-button::after {
  height: 0px;
}
header nav.gj-header a.gradient-button:hover,
.banner-bg .hover-button:hover,
.banner-bg .gradient-button:hover {
  color: #fff;
  -webkit-text-fill-color: #fff;
  background: linear-gradient(100deg, #167dff, #a30cff);
}
/* BANNER STYLE */
.banner-bg {
  background-image: url("/images/banner-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 700px;
  display: flex;
  align-items: center;
}

.banner-bg .hover-button:hover {
  background: linear-gradient(90deg, #b127ff 0%, #157eff 100%);
}
@media (max-width: 1024px) {
  .banner-bg {
    background-image: none;
    min-height: auto;
  }
}
@media (max-width: 640px) {
  .section-shell {
    width: min(100% - 28px, 1440px);
  }
}
